:root {
  --color-link: #2196f3;
  --text: #212121;
  --color-text: #ffffff;
  --color-p: #757575;
  --font-family: "Roboto", sans-serif;
  --font-size: 14px;
  --font-style: normal;
  --font-logo: "Raleway", sans-serif;
  --font-size-logo: 26px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h3 {
  color: var(--text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
img {
  display: block;
}
.body-index {
  font-family: "Roboto", "Raleway", "Arial", sans-serif;
}

.body-portfolio {
  color: #e5e5e5;
  font-family: "Roboto", "Raleway", "Arial", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.body {
  margin: auto;
  width: 1600px;
}

.header {
  background-color: var(--color-text);
}
.header .container {
  display: flex;
  align-items: center;
}

/* WebStudio */
.logo {
  color: var(--color-link);
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.name {
  color: #000000;
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.name-footer {
  color: var(--color-text);
  font-family: var(--font-logo);
  font-size: var(--font-size-logo);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
/* NAV BLOCK START*/
.menu-nav {
  display: inline-flex;
  margin-left: 93px;
}
.menu-nav-item {
  margin-right: 50px;
  display: inline-flex;
}
.menu-nav-item:last-child {
  margin-right: 0px;
}
.navigation {
  display: inline-flex;
  align-items: center;
}
.point-nav {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.point-nav:focus,
.point-nav:hover {
  color: var(--color-link);
}
.point-nav.active {
  color: var(--color-link);
}
/* NAV BLOCK FINISH*/

/* CONTACT START*/
.link-icon {
  fill: currentColor;
  margin-right: 10px;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.adress-item + .adress-item {
  margin-left: 50px;
}
.adress {
  color: var(--color-p);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
}
.adress:focus,
.adress:hover {
  color: var(--color-link);
}
.tel:focus,
.tel:hover {
  color: var(--color-link);
}
.tel {
  color: #757575;
  font-family: var(--font-family);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.1;
  font-style: var(--font-style);
  font-size: var(--font-size);
}
/*HERO*/
.overlay {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/our_team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.h1 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 44px;
  font-style: var(--font-style);
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  margin: 0 auto 30px;
}
.button {
  background-color: #188ce8;
  color: var(--color-text);
  text-align: center;
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  padding: 10px 32px;
  align-items: center;
  text-align: center;
  min-width: 200px;
}
.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-link);
}
/*HERO FINISH*/
/*START advantage*/
.advantage-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.advantage-icon {
  width: 70px;
  height: 70px;
}
.advantage {
  padding-bottom: 0px;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.container-point {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.advantage-section {
  padding-top: 94px;
}

.advantage h3 {
  color: var(--text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.advantage p {
  color: var(--color-p);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
}
/*START section-work*/
.team h2,
.work {
  color: var(--text);
  margin-bottom: 50px;
  font-size: 36px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-picture {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.work-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/*team*/

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social .link:not(:last-child) {
  margin-right: 10px;
}

.social-block {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.social-links {
  width: 20px;
  height: 20px;
}
.social-block:hover,
.social-block:focus {
  --color1: var(--color-link);
  --color2: var(--color-text);
  background-color: var(--color-link);
}
.team h2 {
  margin-bottom: 50px;
  text-align: center;
}
.team-pfoto {
  display: flex;
  margin-left: -30px;
}
.team-point {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-pfoto-card {
  padding: 30px;
  height: 162px;
  background-color: #ffffff;
}
.team h3 {
  color: var(--text);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.team p {
  color: var(--color-p);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
/*team FINISH*/
/* Ñ */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients {
  display: flex;
}
.clients > .company {
  display: flex;
  margin-right: 30px;
  text-align: center;
}
.clients > .company:last-child {
  margin-right: 0px;
}

.client-block {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
}
.client-block:hover,
.client-block:focus {
  fill: var(--color-link);
  border: 1px solid var(--color-link);
}
/*footer START*/
.footer-icon:not(:last-child){
  margin-right: 10px;
}
.footer-block {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icon {
  display: flex;
}

.footer-links {
  width: 20px;
  height: 20px;
  --color2: var(--color-text);
}

.footer-block:hover,
.footer-block:focus {
  --color1: var(--color-link);
  --color2: var(--color-text);
  background-color: var(--color-link);
}

.footer-title {
  display: inline-block;
  margin-bottom: 21px;
  margin-top: 0px;

  color: var(--color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-social {
  margin-left: 70px;
}

.color-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer-point:not(:last-child) {
  margin-bottom: 9px;
}
.address-footer {
  color: var(--color-text);
  opacity: 60%;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-footer:focus,
.address-footer:hover {
  color: var(--color-link);
}
.address-list {
  margin-top: 20px;
}
.address-map {
  margin-bottom: 9px;
}

.address-map:focus,
.address-map:hover {
  color: var(--color-link);
}
.address-map {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*portfolio START*/
.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.portfolio-menu .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter button:hover,
.filter button:focus {
  color: var(--color-text);
  background-color: var(--color-link);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter button {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
  background-color: #f5f4fa;
}
.filter {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button-item:not(:last-child) {
  margin-right: 8px;
}
.filter button.collor {
  background-color: var(--color-link);
  color: var(--color-text);
}
/*picture START*/
.projects {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.flex-container-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-card-link:focus,
.portfolio-card-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.flex-container-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-container-element:nth-child(3n) {
  margin-right: 0;
}
.advantage p {
  color: var(--color-p);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.projects p {
  color: var(--color-p);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.portfolio-card-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-top: 4px;
  border-top: none;
  padding: 20px 24px;
}
